<h1 class="page-header">User Login</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<%= form_tag login_path do %>
  <div class="mb-3">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <br/>
  </div>

  <div class="mb-3">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br/>
  </div>

  <div class="mb-3">
    <%= submit_tag "Log in" %>
  </div>
  
<% end %>